<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>495291575433-3tmttnmv8u50j8f7r3mu124qk4lui71u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.495291575433-3tmttnmv8u50j8f7r3mu124qk4lui71u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>495291575433-eb80gc0rhdgbgklkj5lef2soheerv001.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDQo3B1BvnJYm6Fs-aNoHm4P_-FSGpchnU</string>
	<key>GCM_SENDER_ID</key>
	<string>495291575433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jele.thinkapp-ios</string>
	<key>PROJECT_ID</key>
	<string>think-1662016012747</string>
	<key>STORAGE_BUCKET</key>
	<string>think-1662016012747.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495291575433:ios:cf14c91e09e96dc53dea58</string>
</dict>
</plist>